<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book management</title>
</head>
<body>
    <h1>Welcome to Library</h1>
    <form action="/reader/base" method="POST">
        <label for="reader_id">Reader ID: </label>
        <input type="number" name="reader_id"></input>
        <button type="submit">login</button></a>
    </form>
    <br>
    <form action="/librarian/base" method="POST">
        <label for="librarian_id">Librarian ID: </label>
        <input type="number" name="librarian_id"></input>
        <button type="submit">login</button></a>
    </form>
</body>
</html>
